name: librus_go
description: An unofficial Librus Synergia mobile app

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^0.1.2
  intl: ^0.16.0
  rxdart: ^0.22.2
  shared_preferences: ^0.5.3+4
  cookie_jar: ^1.0.1
  html: ^0.14.0+2
  dio: ^2.1.16

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/logo.png